*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-image: url(images/images.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 450px;
    background: #4f4747;
    border-radius: 12px;
    text-align: center;
    height: auto;
    padding: 20px;
   
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    flex: 1; 
 border: 0;
 outline: none;
 height: 40px;
 padding: 15px;
 background-color: #ccc;
 margin-right: 16px;
 border-radius: 20px;
}
.weather h1{
    font-size: 80px;
    font-weight: bold;
   color: #fff;
    text-align: center;
}
.error{
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
    display: none;
}
.error p{
    color: red;
}
.weather h3{
    font-size: 22px;
    font-weight: bold;
   color: #fff;
    text-align: center;
}
.weather{
    display: none;
}
.search button{
    height: 40px;
    width: 40px;
    border: 0;
    background-color: #ccc;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
}
.search button img{
    width: 45%;
}
.details{
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
p{
   color: #fff;
   line-height: 25px;
}